.story-page {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
.story-list {
    width: 80%;
    display: flex;
    justify-content: center;
}
.story-box {
    display: flex;
    flex-direction: column;
}
::-webkit-scrollbar {
    width: 1px;
    }

    ::-webkit-scrollbar-track {
    background-color: #777;
    }

    ::-webkit-scrollbar-thumb {
    background-color: #000;
    }
.story {
    width: 330px;
    height: 270px;
    overflow-y: scroll;
    padding-left: 16px;
    &-heading {
        font-size: 39.5px;
        font-weight: bold;
        color: #222;
        margin-left: 10px;
    }
    &-item {
        height: 90px;
    }
    &-title {
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 0.65;
        color: #222;
        margin-bottom: 0;
    }
    &-detail {
        font-size: 13px;
        font-weight: light;
        line-height: 26.5px;
        letter-spacing: 0.65;
        color: #222;
    }
}
.story-text {
    text-transform: uppercase;
    font-size: 98.5px;
    font-weight: bold;
    margin-bottom: 50px;
    letter-spacing: 4.93px;
    text-align: center;
    color: #222;
}
