.home {
  width: 100vw;
}
.fp-right {
  // opacity: 0 !important;
  position: fixed !important;
  right: 50px !important;
  transform: rotateY(180deg) !important;
  z-index: 10 !important;
  span {
    background-color: #cdcdcd !important;
    width: 7px !important;
    height: 7px !important;
    margin-top: -30px !important;
    border-radius: 0 !important;
    &:hover {
      width: 30px !important;
      left: 10px !important;
      background-color: #ff9933 !important;
    }
  }
  li {
    margin-top: -5px !important;
  }

  .active {
    left: 4px;
    span {
      width: 30px !important;
      background-color: #ff9933 !important;
    }
  }
}
